{% extends 'finxi_web/base.html' %}
{% block content %}
<div id="app">
    <v-content>

       {% for house in houses_home %}
 <v-layout style="margin-top: 30px">
    <v-flex xs12 >

      <v-card>
        {% with house.image_set.all|first as photo%}
         <v-card-media
          src="{{ photo.image_file.url }}"
          height="200px"
         >
         </v-card-media>

      {% endwith %}

        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{house.title}}</h3>
            <div>
              Endereco: {{house.street }}<br/>
              Bairro: {{house.district}}<br/>
              Contato: {{house.seller.user.username }}<br/>
            </div>
          </div>
        </v-card-title>


        <v-slide-y-transition>
          <v-card-text >
            {{house.about}}<br/>

          </v-card-text>
        </v-slide-y-transition>

    </V-flex>

  </v-layout>
        {%endfor%}

    </v-content>

      </div>


  {% endblock %}

